In [4]:
import pandas as pd
import glob
import os

In [5]:
data_path = r"C:\Users\Siratulla\Desktop\SAAD\New folder"

In [6]:
all_files = glob.glob(os.path.join(data_path, "*.csv"))

In [7]:
df_list = [pd.read_csv(file, low_memory=False) for file in all_files]
df = pd.concat(df_list, ignore_index=True)

In [8]:
df.head(5)

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0,0,14/02/2018 08:31:01,112641719,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320859.5,139.300036,56320958,56320761,Benign
1,0,0,14/02/2018 08:33:50,112641466,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320733.0,114.551299,56320814,56320652,Benign
2,0,0,14/02/2018 08:36:39,112638623,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56319311.5,301.934596,56319525,56319098,Benign
3,22,6,14/02/2018 08:40:13,6453966,15,10,1239,2273,744,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
4,22,6,14/02/2018 08:40:23,8804066,14,11,1143,2209,744,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign

In [9]:
columns_to_keep = [
    'Dst Port',           # Destination Port (identifies the service)
    'Protocol',           # Protocol type (TCP, UDP, ICMP)
    'Flow Duration',      # Total duration of the network flow
    'Tot Fwd Pkts',       # Total forward packets
    'Tot Bwd Pkts',       # Total backward packets
    'Fwd Pkt Len Mean',   # Average length of forward packets
    'Bwd Pkt Len Mean',   # Average length of backward packets
    'Flow Byts/s',        # Bytes per second in the flow
    'SYN Flag Cnt',       # SYN flag count (helps detect attacks)
    'Label'               # Target column (Normal/Attack)
]

'Dst Port'

'Dst Port'

In [10]:
df = df[columns_to_keep]

In [53]:
df.describe()

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,Fwd Pkt Len Mean,Bwd Pkt Len Mean,Flow Byts/s,SYN Flag Cnt,Label
count,3145725,3145725,3145725,3145725,3145725,3145725.0,3145725.0,3138527.0,3145725,3145725
unique,42599,7,1271163,1055,1574,34342.0,54444.0,1415640.0,5,8
top,53,6,2,1,1,0.0,0.0,0.0,0,Benign
freq,531252,1513795,89300,817647,897271,735462.0,874388.0,727708.0,2015537,2110475

In [7]:
df.columns

Index(['Dst Port', 'Protocol', 'Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts',
       'Fwd Pkt Len Mean', 'Bwd Pkt Len Mean', 'Flow Byts/s', 'SYN Flag Cnt',
       'Label'],
      dtype='object')

In [55]:
df['Label'].unique()

array(['Benign', 'Malicious'], dtype=object)

In [11]:
# Replace all occurrences of 'Benign', 'DoS', and 'BruteForce' with 'Malicious'
df['Label'] = df['Label'].replace(
    [ 'DoS attacks-GoldenEye', 'DoS attacks-Slowloris', 'DoS attacks-SlowHTTPTest', 
     'DoS attacks-Hulk', 'FTP-BruteForce', 'SSH-Bruteforce','Label'], 'Malicious')

In [12]:
from sklearn.preprocessing import LabelEncoder

# Initialize encoder
label_encoder = LabelEncoder()

# Convert 'Label' column
df['Label'] = label_encoder.fit_transform(df['Label'])

In [13]:
df = df.apply(pd.to_numeric, errors='coerce')

In [14]:
import numpy as np

# Identify numerical columns
num_cols = df.select_dtypes(include=[np.number]).columns

# Replace infinite values with NaN
df[num_cols] = df[num_cols].replace([np.inf, -np.inf], np.nan)

# Optionally, fill NaN values with the column's mean (or any other strategy)
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

In [12]:
df.head(5)

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,Fwd Pkt Len Mean,Bwd Pkt Len Mean,Flow Byts/s,SYN Flag Cnt,Label
0,0.0,0.0,112641719.0,3.0,0.0,0.000000,0.000000,0.000000,0.0,0
1,0.0,0.0,112641466.0,3.0,0.0,0.000000,0.000000,0.000000,0.0,0
2,0.0,0.0,112638623.0,3.0,0.0,0.000000,0.000000,0.000000,0.0,0
3,22.0,6.0,6453966.0,15.0,10.0,82.600000,227.300000,544.161528,0.0,0
4,22.0,6.0,8804066.0,14.0,11.0,81.642857,200.818182,380.733175,0.0,0

In [15]:
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
from sklearn.preprocessing import MinMaxScaler


# Normalize numerical data
scaler = MinMaxScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [16]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers (keep only values within bounds)
df_cleaned = df[~((df < lower_bound) | (df > upper_bound)).any(axis=1)]

In [63]:
df.head(5)

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,Fwd Pkt Len Mean,Bwd Pkt Len Mean,Flow Byts/s,SYN Flag Cnt,Label
0,0.000000,0.000000,0.999992,0.000222,0.000000,0.000000,0.000000,0.000000e+00,0.0,0
1,0.000000,0.000000,0.999992,0.000222,0.000000,0.000000,0.000000,0.000000e+00,0.0,0
2,0.000000,0.000000,0.999992,0.000222,0.000000,0.000000,0.000000,0.000000e+00,0.0,0
3,0.000336,0.352941,0.999876,0.001552,0.000521,0.004997,0.116209,4.190693e-07,0.0,0
4,0.000336,0.352941,0.999879,0.001441,0.000573,0.004939,0.102670,2.932100e-07,0.0,0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3145725 entries, 0 to 3145724
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   Dst Port          float64
 1   Protocol          float64
 2   Flow Duration     float64
 3   Tot Fwd Pkts      float64
 4   Tot Bwd Pkts      float64
 5   Fwd Pkt Len Mean  float64
 6   Bwd Pkt Len Mean  float64
 7   Flow Byts/s       float64
 8   SYN Flag Cnt      float64
 9   Label             int32
dtypes: float64(9), int32(1)
memory usage: 228.0 MB

In [17]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

# 1. Define Features and Labels
X = df.drop(columns=['Label'])  # Features
y = df['Label']  # Target

# 2. Split Data into Training and Testing Sets (Before SMOTE)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# 3. Apply SMOTE on Training Data Only
smote = SMOTE(random_state=42)
try:
    X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)
    print("SMOTE applied successfully!")
except Exception as e:
    print("SMOTE Error:", e)

SMOTE applied successfully!

In [19]:
import xgboost as xgb
from xgboost import XGBClassifier

# Initialize XGBoost classifier
model = XGBClassifier(
    objective='binary:logistic',  
    eval_metric='logloss',        
    use_label_encoder=False,
    verbosity=0  
)

# Fit the model to the training data
model.fit(X_train_resampled, y_train_resampled)

# Check if model is trained successfully
print("Model training completed successfully!")

Model training completed successfully!

In [23]:
y_pred = model.predict(X_test)

In [24]:
y_pred

array([0, 0, 0, ..., 0, 1, 0])

In [20]:
score = model.score(X_test, y_test)

In [21]:
score

0.9717600871023373

In [22]:
# Saving the model
import joblib
joblib.dump(model, "xgboost_model.pkl")

['xgboost_model.pkl']

In [ ]:
# To Load the modelab loaded_model = joblib.load("xgboost_model.pkl")

In [ ]:
# Here on checking the different different metric score

In [25]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.9718